<div class="container text-center">
  <div class="card row align-items-center" style='width: 25rem;'>
    <h2>Login as a user </h2>
    <form (submit)="loggingIn()">
      <label> Username  </label>
      <input type="text" name="theUsername" [(ngModel)]="loginUser.username"><br />
      <label> Password  </label>
      <input type="password" name="thePassword" [(ngModel)]="loginUser.password">
<div class="text-center">
  <button>Complete Registration</button>
</div>
    </form>
    <p>Don't have account? <a [routerLink]="['/signup']">Sign Up</a></p>
  </div>
</div>
